---
layout: default
---
    {% for post in paginator.posts %}
      <article class="post__item">
        <span class="post__item-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post__item-link">
            <h4 class="post__item-title">
                {{ post.title }}
            </h4>
        </a>


        {% assign post = page %}
        {% if post.tags.size > 0 %}
            {% capture tags_content %}<svg class="icon post__tag-icon"><use xlink:href="#icon-ribbon"></use></svg><span class="mls"></span>{% endcapture %}
            {% for post_tag in post.tags %}
                {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                        {% assign tag = data_tag %}
                    {% endif %}
                {% endfor %}
                {% if tag %}
                    {% capture tags_content_temp %}{{ tags_content }}<a class="post__item-tag" href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                    {% assign tags_content = tags_content_temp %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% assign tags_content = '' %}
        {% endif %}

        <p class="post__item-tags">{{ tags_content }}</p>

        <p class="post__item-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <a class="post__item-more" href="{{ post.url | prepend: site.baseurl }}">Keep reading</a>
        </p>

      </article>
    {% endfor %}

  {% include pagination.html %}
