<footer class="blog-footer blog-footer--home">
  <div class="footer">
    <div class="author-info">
        <span class="author-info__avatar">
            <img src="" alt="">
        </span>
        <p class="author-info__bio">Hi, I'm <a href="/">Ricardo Magalhães</a> and I'm a Front-End Developer
        with way too many interests to be stated in a small footer.</p>

        <p class="author-info__bio">I'm on <a href="http://www.twitter.com/magalhini">Twitter</a> and on <a href="http://github.com/magalhini">Github</a>.</p>
    </div>
  </div>
</footer>
