$container-max-width: 40em;

//$text-primary-stack: "freight-text-pro", serif;
$text-primary-stack: "HKSerif", serif;
$text-secondary-stack: sans-serif;

$color-body-background: #fafafa;

$color-post-title: #232323;
$color-regular-link: #C9A31A;

$color-secondary-link: #b6b6b6;
$color-secondary-link-hover: #333337;
